@import 'variables';

.allPosts {
	margin: 2rem 0;

	h1 {
		margin-top: 0;
		font-size: 2.5rem;
		font-weight: 500;
	}
}

.posts {
	margin-left: -0.75rem;
}

.post {
	a {
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
		padding: 0.75rem 1rem;
		background-image: none;
	}

	time {
		font-weight: 400;
		font-size: 0.875rem;
		color: $light-text;
	}

	h2 {
		margin: 0 0 0 1rem;
		font-weight: 400;
		font-size: 1.25rem;
	}
}

.article {
	margin: 2rem 0;

	h1 {
		margin-top: 0;
		font-size: 2.5rem;
		font-weight: 500;
	}

	:global {
		.post-meta {
			margin: 2rem 0;
			font-size: 0.875rem;
			color: $light-text;

			a {
				background-image: none;
				color: $heading;
			}
		}
	}
}
