.header {
	padding: 1rem 0;

	nav {
		a {
			margin-left: 1.5rem;
		}
	}

	:global {
		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}

.navBrand {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-decoration: none;
	background-image: none;

	&:hover {
		background-image: none;
	}

	span {
		margin-left: 1rem;
		font-size: 1rem;
		font-weight: 600;
	}
}