@import "fonts";
@import "vars";

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: $camphor;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 980px;
	margin: 0 auto;
	padding: 0 2rem;
}	
	
.nav-brand {
	display: block;

	img {
		width: 32px;
		height: auto;
	}
}

.menu {
	li {
		display: inline-block;
		margin: 0 1rem;
		list-style-type: none;

		a {
			color: $text;
			text-decoration: none;
			font-size: .85rem;
			font-weight: 500;
			text-transform: uppercase;
		}
	}
}


main {
	color: $text;
}

section {
	padding: 4rem 0;
	width: 100%;
}

h1 {
	margin-top: 0;
	font-size: 3rem;
}

h2 {
	margin-top: 0;
	font-size: 2.5rem;
}

p {
	font-size: 1.05rem;
	line-height: 1.75rem;
}

main a,
footer a {
	display: inline-block;
	padding-bottom: .25rem;
	border-bottom: 2px solid $cyan;
	color: $accent;
	font-weight: 600;
	line-height: 1;
	text-decoration: none;
	transform: none;
	transition: transform 300ms ease-out;

	&:hover {
		transform: translateY(4px);
	}
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
	max-width: 980px;
}


#intro {

	.social {
		padding: 0;

		li {
			display: inline-block;
			margin-right: 1rem;
			list-style-type: none;
		}
	}
}


#work {
	background-color: #f9f9f9;

	.project-list {
		padding: 0;
		margin: 0;

		li {
			display: block;
			margin-bottom: 1.5rem;
			list-style: none;

			&:last-of-type {
				margin-bottom: 0;

				a {
					margin-bottom: 0;
				}
			}
		}

		a {
			margin-bottom: .25rem;
		}

		p {
			margin: 0;
			font-size: .875rem;
		}
	}
}

footer {
	padding: 4rem 0;
	background-color: $dark;
	color: $light;
}
